* {
    border: solid blue 3px;
}

html {
    border: 0px;
    background: url('./IMG_5085_01_A.jpg') bottom center;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border: 0px;
}

.center {
    min-height: 100vh;
    border: 0px;
}
.side {
    width: 20px;
    background-color: bisque;
}

.title {
    padding: 36px;
    text-align: center;
    background: rgba(0,0,0,0.4);
    color: #e6e6e6;
}
.outer {
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 16px;
}
#round {
    text-align: center;
    color: #e6e6e6;
    padding: 16px;
    text-align: center;
}

.inner {
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.left, .right {
    padding: 12px 16px;
    gap: 16px;
    justify-content: space-around;
}

.outputs {
    width: 200px;
    text-align: center;
    justify-content: center;
    gap: 16px;
    padding: 12px;
    /*background-color: aliceblue;*/
    color: #e6e6e687;
}


#round {
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0px;
    transition: all 0.15s ease;
}


#over {
    margin-top: 16px;
    padding: 16px;
    color: red;
    display: flex;
    justify-content: center;
    width: 300px;
}

.gameOver {
    border: solid red 3px; 
    border-radius: 10px;
}

button {
    /*background-color: bisque;*/
    border-radius: 8px;
    color: #ffffff;
    padding: 6px 8px;
    border: solid 2px #f0f0f0f0;
    font-weight: bold;
    width: 5rem;
    background: #e6e6e666;
}

.hidden {
    visibility: hidden;
}