/* {
    border: solid blue 3px;
}*/

html {
    border: 0px;
    background: url('./IMG_5085_01_A.jpg') bottom center;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border: 0px;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    height: 100vh;
    border: 0px;
    border-left: solid #060606f0 3px;
    border-right: solid #060606f0 3px;
    background: rgba(0,0,0,0.4);
}
.side {
    width: 20px;
    background-color: bisque;
}

.title {
    padding: 36px;
    margin: 12px 0 0;
    text-align: center;
    background: rgba(0,0,0,0.4);
    color: #1a1717;
    background: #e6e6e666;
    font-size: 1.9em;
    font-weight: bold;
}

#round {
    text-align: center;
    color: #e6e6e6;
    padding: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0px;
    transition: all 0.15s ease;
}

.inner {
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.left, .right {
    padding: 12px 16px;
    gap: 16px;
    justify-content: space-around;
}

.outputs {
    width: 300px;
    flex: 1;
    background: #e6e6e666;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    /*justify-content: space-around;*/
}

.upper {
    height: 50%;
    justify-content: space-around;
    gap: 16px;
    padding: 12px;
    /*background-color: aliceblue;*/
    color: #0d2904;
}

.lower {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#over {
    padding: 16px;
    color: #390f0ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /*width: 300px;*/
}

button {
    border-radius: 8px;
    color: #ffffff;
    padding: 6px 8px;
    border: solid 2px #f0f0f0f0;
    font-weight: bold;
    width: 5rem;
    background: #e6e6e666;
}
